{% extends "@Contao/component/_headline.html.twig" %}

{#
  Nutshell Framework: erweitert die Headline-Komponente um eine
  optionale Dachzeile (supline). Ist eine Dachzeile gesetzt, wird
  die Überschrift kombiniert ausgegeben:

    <h2>
      <span class="headline__supline">…</span>
      <span class="headline__separator">: </span>
      <span class="headline__main">…</span>
    </h2>

  Der Separator steht bewusst im Markup (nicht als CSS ::before),
  damit Screenreader und sonstige Maschinen den optischen Trenner
  zwischen Dachzeile und Haupt-Überschrift mitlesen können.

  Ohne Dachzeile bleibt das Standardmarkup der Contao-Komponente
  unverändert.
#}

{% block headline_inner %}
  {% set supline = data.supline|default('') %}

  {% if supline %}
    <span class="headline__supline">{{ supline|insert_tag_raw }}</span>
    <span class="headline__separator">: </span>
    <span class="headline__main">{{ headline.text|insert_tag_raw }}</span>
  {% else %}
    {{ parent() }}
  {% endif %}
{% endblock %}
